@import 'variables';

$bookmark-count-size: 18px;

.bookmark {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;

  .bookmarkTitle {
    margin-left: 12px;
    margin-right: ($bookmark-count-size + 6px);
  }

  .bookmarkCount {
    position: absolute;
    top: -4px;
    right: 0;

    width: $bookmark-count-size;
    height: $bookmark-count-size;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: $bg-info;

    font-size: 10px;
  }
}

:export {
  textPrimaryColor: $text-primary-color;
}