@import 'mixins';
@import 'variables';

.footer {
  background-color: $bg-primary;
  padding: 20px 0;
  
  .footerContainer {
    display: flex;
    justify-content: space-between;

    .copyright,
    .links {
      padding: 4px 0;
    }

    @include breakpoint-down('md') {
      flex-direction: column-reverse;
    }
  }
}